@model IEnumerable<EbookList.Models.Book>
@{
    ViewData["Title"] = "Index";
}

<br />
<h3>Ebook List</h3>

<p>
    <a asp-action="Create" class="btn btn-sm btn-outline-primary">New Book</a>
</p>
<hr/>

@if (Model.Count() > 0)
{
    //Display Ebooks
    <div class="border">
        <table class="table">
            <tr>
                <th>@Html.DisplayNameFor(m => m.Name)</th>
                <th>@Html.DisplayNameFor(m => m.Author)</th>
                <th>@Html.DisplayNameFor(m => m.Price)</th>
            </tr>
            @foreach(var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(m => item.Name)
                    </td>
                     <td>
                        @Html.DisplayFor(m => item.Author)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.Price)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-success">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-outline-danger">Delete</a>
                    </td>
                </tr>
            }
        </table>
    </div>
}
else
{
    <div>
       <h5>No Books Exist..Please Create New Ebook</h5>
    </div>
}

